:root {
	--size: 80px;
	--testcolor: #3465fd;
	--testcolor2: rgb(154, 36, 183);
	--white: #fff;
	--black: rgb(33, 33, 33);
	--bgcolor: var(--white);
	--radius1: 10px;
	--space: 10px;
	--minheight: 40px;
	--font: system-ui;
	--buttonSize: 48px;
	--textcolor: var(--black);
	--goodColor: #1f8f28;
	--badColor: #8f1f37;
	--transparent: transparent;
}

@media (prefers-color-scheme: dark) {
	:root {
		--testcolor: #1f3884;
		--bgcolor: rgb(33, 33, 33);
		--textcolor: var(--white);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: var(--font);
	background-color: var(--bgcolor);
}

.wrapper {
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
}

.interaction-container {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

.drop-areas,
.draggables {
	display: flex;
	gap: var(--space);
}
.draggables {
	z-index: 10;
}

.draggable {
	--mycolor: var(--testcolor);
	width: var(--size);
	height: var(--size);
	border-radius: var(--radius1);
	background-color: var(--mycolor);
	color: var(--white);
	display: grid;
	place-items: center;
}

.dragging {
	background-color: var(--bgcolor);
	border: 1px solid var(--testcolor);
	font-size: 0.5rem;
}

.draggable-container {
	min-width: var(--size);
	min-height: var(--minheight);
	background-color: var(--bgcolor);
	border: 1px solid var(--testcolor);
	padding: var(--space);
	transition: width 0.3s ease-in-out;
	border-radius: calc(var(--radius1) + var(--space));
}
.drop-area {
	min-width: var(--size);
	min-height: var(--minheight);
	background-color: var(--bgcolor);
	border: 1px solid var(--testcolor2);
	padding: var(--space);
	display: flex;
	flex-wrap: wrap;
	gap: var(--space);
	transition: all 300ms ease-in-out;
	border-radius: calc(var(--radius1) + var(--space));
}

.drop-area .draggable {
	--mycolor: var(--testcolor2);
}

.drop-area .good {
	--mycolor: var(--goodColor);
}
.drop-area .bad {
	--mycolor: var(--badColor);
}

.occupied {
	border-color: var(--textcolor);
}

.able {
	animation: blink-anim 300ms linear infinite alternate;
}

.buttons-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--space);
}

button {
	border: 1px solid var(--textcolor);
	background-color: var(--bgcolor);
	color: var(--textcolor);
	height: var(--buttonSize);
	border-radius: var(--radius1);
	font-size: 1rem;
	transition: all 300ms ease-in-out;
}
button:hover {
	background-color: var(--testcolor);
}

@keyframes blink-anim {
	from {
		border-color: var(--textcolor);
	}
	to {
		border-color: var(--transparent);
	}
}
