:root {
	--font: system-ui;
	--fontsize: 24px;
	--size: 80px;
	--radius1: 10px;
	--space: 10px;
	--sm-space: 5px;
	--minheight: 40px;
	--buttonSize: 48px;
	--contentwidth: 900px;
	/* colors */
	--primary: #118ab2;
	--secondary: #d36301;
	--goodColor: rgba(6, 214, 158, 0.5);
	--badColor: rgba(239, 71, 110, 0.5);
	--darkcolor: #073b4c;

	--ctacolor: var(--secondary);
	--white: #fff;
	--black: rgb(33, 33, 33);
	--bgcolor: #fcf9f9;
	--textcolor: var(--black);
	--transparent: transparent;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #118ab2;
		--secondary: #ffd166;
		--goodColor: rgba(3, 132, 98, 0.5);
		--badColor: hsla(346, 84%, 61%, 0.5);
		--darkcolor: #041d25;

		--bgcolor: var(--darkcolor);
		--textcolor: var(--white);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: var(--font);
	font-size: var(--fontsize);
	background-color: var(--bgcolor);
	color: var(--textcolor);
}

.hidden {
	display: none;
}

.wrapper {
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
}

.interaction-container {
	display: flex;
	flex-direction: column;
	gap: var(--space);
	max-width: var(--contentwidth);
	width: 100%;
	padding: var(--space);
}

.interaction-instruction {
	font-size: smaller;
	opacity: 0.6;
	color: var(--ctacolor);
}

.draggables {
	display: flex;
	gap: var(--space);
}
.draggables {
	z-index: 10;
}

.draggable {
	--mycolor: var(--primary);
	width: auto;
	height: auto;
	padding: var(--sm-space) var(--space);
	border-radius: var(--radius1);
	background-color: var(--mycolor);
	color: var(--white);
	display: grid;
	place-items: center;
	transition-property: color, background-color;
	transition-duration: 300ms;
}

.draggable p {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

.dragging {
	background-color: var(--bgcolor);
	border: 1px solid var(--primary);
	font-size: 0.5rem;
}

.draggable-container {
	min-width: var(--size);
	min-height: var(--minheight);
	background-color: var(--bgcolor);
	border: 1px solid var(--primary);
	padding: var(--sm-space);
	transition: width 0.3s ease-in-out;
	border-radius: calc(var(--radius1) + var(--sm-space));
}
.drop-area {
	min-width: var(--size);
	height: auto;
	min-height: calc(var(--space) * 2 + var(--fontsize));
	vertical-align: middle;
	margin: var(--sm-space) var(--space);
	display: inline-block;
	background-color: var(--bgcolor);
	border: 1px dashed var(--secondary);
	transition: all 300ms ease-in-out;
	border-radius: var(--radius1);
}

.drop-area .draggable {
	--mycolor: var(--transparent);
	padding: initial;
	color: var(--textcolor);
}

.drop-area .good {
	--mycolor: var(--goodColor);
}
.drop-area .bad {
	--mycolor: var(--badColor);
}

.drop-area.occupied {
	border-color: var(--transparent);
	margin: 0;
	padding: 0;
	border-radius: 0;
}

.able {
	animation: blink-anim 300ms linear infinite alternate;
}

.buttons-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--space);
}

button {
	border: 1px solid var(--textcolor);
	background-color: var(--bgcolor);
	color: var(--textcolor);
	height: var(--buttonSize);
	border-radius: var(--radius1);
	font-size: 1rem;
	transition: all 300ms ease-in-out;
}
button:hover {
	background-color: var(--primary);
}

@keyframes blink-anim {
	from {
		border-color: var(--textcolor);
	}
	to {
		border-color: var(--transparent);
	}
}
